* {
  border: none;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  opacity: 1;
  font-size: 18px;
}

window#waybar {
  background: rgba(29, 32, 33, 0.5);
}

tooltip {
  background: #282828;
  border: 1px solid #928374;
}
tooltip label {
  margin: 5px;
  color: #FBF1C7;
}

#workspaces {
  padding-left: 15px;
}
#workspaces button {
  color: #FABD2F;
  padding-left:  5px;
  padding-right: 5px;
  margin-right: 10px;
  border-bottom: 2px solid #1D2021;
}
#workspaces button.empty {
  color: #FBF1C7;
}
#workspaces button.active {
  color: #FABD2F;
  border-bottom: 2px solid #FABD2F;
}

#clock {
  color: #FBF1C7;
  border-bottom: 2px solid #1D2021;
}

#tray {
  margin-left: 10px;
  color: #FBF1C7;
}
#tray menu {
  background: #282828;
  border: 1px solid #928374;
  padding: 8px;
}
#tray menuitem {
  padding: 1px;
}

#pulseaudio, #network, #cpu, #memory, #disk, #battery, #custom-notification {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  color: #FBF1C7;
}

#cpu {
  border-bottom: 2px solid #98971A;
}
#memory {
  border-bottom: 2px solid #689D6A;
}
#disk {
  border-bottom: 2px solid #D65D0E;
}

#pulseaudio {
  margin-left: 15px;
  border-bottom: 2px solid #458588;
}
#network {
  border-bottom: 2px solid #B16286;
}
#battery {
  border-bottom: 2px solid #FABD2F;
}

#custom-notification {
  margin-left: 15px;
  padding-right: 2px;
  margin-right: 5px;
  border-bottom: 2px solid #CC241D;
}

#custom-launcher {
  font-size: 20px;
  color: #FBF1C7;
  font-weight: bold;
  margin-left: 15px;
  padding-right: 10px;
  border-bottom: 2px solid #1D2021;
}